html,body{
    height: 100vh;
    padding:0;
    margin:0;
    font: 16px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(63, 3, 119);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.container{
    max-width: 1444px;
    margin: auto 0;
    color: rgb(231, 73, 112);
}

.box-profile{
    padding: 80px 120px;
    display: flex;
    align-items: center;
    gap: 80px;
}
   
.img{
    background-image: url("./fotov.jpeg");
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}

article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.info{
   display: flex;
   flex-direction: column;
   gap: 6px;
}

strong{
    color: pink;
}

h1{
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    font-weight: 700;
}

h2{
    max-width: 400px;
    margin: 0px;
    padding: 0px;
    font-size: 1.6rem;
    font-weight: 600;
}

h3{
    margin: 0px;
    padding: 0px;
    font-size: 1.4rem;
    font-weight: 600;
}

p{
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: italic;
    color: pink;
}

a{
    color: pink;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 300;
}